<strong>Olá, {{ deliveryman }}</strong>
<p>Uma nova encomenda foi cadastrada para voce</p>
<h3>Confira os dados abaixo:</h3>
<p>
  <strong>Destinatário:</strong> {{name}}<br/>
  <strong>Produto:</strong> {{productName}}<br/>
  <h3>Local de entrega:</h3>

    <strong>Cep:</strong> {{zip_code}}<br/>
    <strong>Logradouro:</strong> {{ street}}<br/>
    <strong>Complemento:</strong> {{ complement}}<br/>
    <strong>Bairro:</strong> {{ neighborhood}}<br/>
    <strong>Cidade:</strong> {{ city}}<br/>
    <strong>Estado:</strong> {{ state}}<br/>

</p>
